@use "../abstracts/functions" as function;
@use "../abstracts/mixins" as mixin;

.button {
  @include mixin.flex-center;
  gap: function.px-to-rem(20);
  font-family: "Red Rose", Arial, sans-serif;
  font-size: function.px-to-rem(40);
  font-weight: 700;
  padding: function.px-to-rem(24);
  border: none;
  @include mixin.transition-transform;

  &__icon__controller {
    @include mixin.transition-transform;
  }

  &__icon__arrow {
    display: flex;
    width: 40px;
    height: 40px;
    background-image: url("../../assets/img/icons/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include mixin.transition-transform;
  }

  &--play {
    background-color: #f0ea6e;

    &:hover {
      transform: scale(1.05);

      .button__icon__controller {
        transform: rotate(-30deg);
      }

      .button__icon__arrow {
        background-image: url("../../assets/img/icons/arrow_hover.svg");
      }
    }
  }
}
