@use "../abstracts/variables" as variable;
@use "../abstracts/functions" as function;
@use "../abstracts/mixins" as mixin;

.button {
  @include mixin.flex-center;
  gap: function.px-to-rem(20);
  font-family: variable.$font-accent;
  font-size: function.px-to-rem(40);
  font-weight: 700;
  padding-block: function.px-to-rem(14);
  padding-inline: function.px-to-rem(20);
  border: none;
  @include mixin.transition-transform;

  &__icon--transition {
    @include mixin.transition-transform;
  }

  &__icon--arrow {
    display: flex;
    width: 40px;
    height: 40px;
    background-image: url("../../assets/img/icons/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include mixin.transition-transform;
  }

  &--small {
    font-size: function.px-to-rem(20);
    gap: function.px-to-rem(8);
  }

  &--primary {
    color: variable.$primary-dark;
    background-color: #f0ea6e;

    &:hover {
      transform: scale(1.05);

      .button__icon--transition {
        transform: rotate(-30deg);
      }

      .button__icon--arrow {
        background-image: url("../../assets/img/icons/arrow_hover.svg");
      }
    }
  }
}
