@use "../abstracts/variables" as variable;
@use "../abstracts/mixins" as mixin;
@use "../abstracts/functions" as function;

.page-game {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-primary);
}

main {
  max-width: function.px-to-rem(1200);
  margin: 0 auto;
  padding: function.px-to-rem(10) 0;
}

header {
  @include mixin.flex-center(space-between);
  padding: function.px-to-rem(24);
  background-color: var(--color-header-bg);
  border-radius: var(--border-radius);
}

.players__container {
  @include mixin.flex-center;
  gap: function.px-to-rem(20);
  background-color: var(--color-bg-exit-btn);
  border-radius: var(--border-radius);
  padding: function.px-to-rem(18) function.px-to-rem(20);
  max-width: fit-content;
  font-weight: 700;
  font-size: var(--font-size-player);
  font-family: var(--font-btn);
}

.player {
  @include mixin.flex-center;
  gap: function.px-to-rem(8);

  &--blue {
    color: var(--color-player-blue);
  }

  &--orange {
    color: var(--color-player-orange);
  }

  &__text {
    display: var(--display-text);
  }

  &__icon {
    width: var(--icon-player-width);
    height: var(--icon-player-height);
    mask-image: var(--icon-player);
    mask-size: contain;
    mask-repeat: no-repeat;

    &__wrapper {
      padding: function.px-to-rem(4);
      border-radius: function.px-to-rem(8);

      &--blue {
        background-color: var(--color-player-blue);
      }

      &--orange {
        background-color: var(--color-player-orange);
      }
    }

    &--blue {
      background-color: var(--color-player-blue);
    }

    &--orange {
      background-color: var(--color-player-orange);
    }

    &--white {
      background-color: #ffffff;
    }
  }
}

.current-player__container {
  @include mixin.flex-center();
  gap: function.px-to-rem(8);
  font-size: function.px-to-rem(24);
}

.game__board {
  width: fit-content;
  margin: 0 auto;
  padding-top: function.px-to-rem(54);
  display: grid;
  gap: function.px-to-rem(16);

  &--16 {
    grid-template-columns: repeat(4, 1fr);
  }

  &--24,
  &--36 {
    grid-template-columns: repeat(6, 1fr);
  }
}

.card {
  height: 100px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 200ms ease-in-out;
  }

  &__face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;

    &--back {
      transform: rotateY(180deg);
    }
  }

  &.is-flipped {
    pointer-events: none;
  }

  &.is-flipped .card__inner {
    transform: rotateY(180deg);
  }

  &.is-matched {
    border: 5px solid var(--border-exit-btn);
    pointer-events: none;
  }
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-game-over-bg);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: var(--font-primary);
    color: var(--color-game-over-title);
    font-size: function.px-to-rem(124);
    font-weight: 900;
    text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    padding-bottom: function.px-to-rem(104);
  }

  &__subtitle {
    font-size: function.px-to-rem(26);
    padding-bottom: function.px-to-rem(24);
    color: #ffffff;
  }
}

.winner {
  &__overlay {
    background-color: var(--color-bg);
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: var(--align-winner);
    transform: translateY(-100%);
    @include mixin.transition-transform(400ms, ease-in);

    &.is-visible {
      transform: translateY(0);
    }
  }

  &__title {
    font-size: function.px-to-rem(40);
  }

  &__player {
    font-size: function.px-to-rem(60);
    font-weight: 700;
    padding-bottom: function.px-to-rem(48);
  }

  &__icon {
    width: 260px;
    height: 300px;
    mask-image: var(--icon-winner);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &__icon__wrapper {
    width: 260px;
    height: 300px;
    margin-bottom: var(--icon-winner-wrapper-margin);
    background-color: var(--color-winner-wrapper-bg);
    box-shadow: var(--box-shadow-winner-wrapper);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--color-blue {
    color: var(--color-player-blue);
  }

  &--color-orange {
    color: var(--color-player-orange);
  }

  &--bg-blue {
    background-color: var(--color-player-blue);
  }

  &--bg-orange {
    background-color: var(--color-player-orange);
  }
}

.confetti {
  width: 100%;
  max-width: function.px-to-rem(1200);
  height: auto;
  display: var(--display-text);
}

dialog {
  margin: auto;
  &[open] {
    width: function.px-to-rem(456);
    height: function.px-to-rem(256);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius-dialog);
    border: none;
    padding: 40px;
    font-size: function.px-to-rem(28);
    text-align: center;
    color: var(--color-text-dialog);
  }
}

.dialog__buttons__wrapper {
  display: flex;
  justify-content: space-between;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.6);
}
