.theme--code {
  // Main
  --color-primary: #66cfbc;
  --color-bg: #303131;
  --color-text: #ffffff;
  --border-radius: 0px;

  // Header
  --color-header-bg: transparent;

  // Card
  --border-match: 5px solid #4dd5bc;
  --box-shadow-match: 6px, 6px 8px #4dd5bc4d;

  // Game Over
  --color-game-over-bg: #303131;
  --color-game-over-title: #4dd5bc;

  // Winner
  --color-winner-wrapper-bg: transparent;
  --box-shadow-winner-wrapper: none;

  // Dialog
  --color-text-dialog: var(--color-bg);
  --border-radius-dialog: 0px;

  // Buttons
  --box-shadow-button: 4px 4px 4px 0 #4dd5bc33;

  --color-text-exit-btn: #ffffff;
  --color-text-exit-btn-hover: #ffffff;
  --color-bg-exit-btn: #86e9d624;
  --color-bg-exit-btn-hover: #86e9d642;
  --border-exit-btn: 2px solid #4dd5bc;

  --color-text-back-btn: #ffffff;
  --color-text-back-btn-hover: #ffffff;
  --color-bg-back-btn: #66cfbc;
  --color-bg-back-btn-hover: #66cfbcb2;
  --border-back-btn: 3px solid #66cfbc;
  --border-back-btn-hover: 3px solid #3abca4;

  // Player
  --color-player-blue: #2bb1ff;
  --color-player-orange: #f58e39;
  --font-size-player: 1.5rem; // 24px

  // Icons
  --icon-player: url("../../assets/img/icons/code_player.svg");
  --icon-player-width: 1.5rem; // 24px
  --icon-player-height: 1.25rem; // 20px
  --icon-winner: url("../../assets/img/icons/player.svg");
  --icon-winner-wrapper-margin: 2rem; // 32px

  // Layout
  --display-text: block;
  --align-winner: flex-start;

  // Typography
  --font-primary: "Red Rose";
  --font-secondary: "Almarai";
  --font-btn: "Red Rose";
}

.theme--foods {
  // Main
  --color-primary: #f3832d;
  --color-bg: #ffffff;
  --color-text: #a45212;
  --border-radius: 0.625rem; // 10px

  // Header
  --color-header-bg: #f0e5d9;

  // Card
  --border-match: 4px solid #f3832d;
  --box-shadow-match: none;

  // Game Over
  --color-game-over-bg: #f3832d;
  --color-game-over-title: #ffffff;

  // Winner
  --color-winner-wrapper-bg: #f7e6d5;
  --box-shadow-winner-wrapper: 3px 3px 6px 0px rgb(0, 0, 0, 0.25);

  // Dialog
  --color-text-dialog: var(--color-text);
  --border-radius-dialog: 1.25rem; // 20px

  // Buttons
  --box-shadow-button: 3px 3px 3px 0 rgb(0, 0, 0, 0.2);

  --color-text-exit-btn: #f3832d;
  --color-text-exit-btn-hover: #ffffff;
  --color-bg-exit-btn: #fff9f2;
  --color-bg-exit-btn-hover: #f3832d;
  --border-exit-btn: 3px solid #f3832d;

  --color-text-back-btn: #ffffff;
  --color-text-back-btn-hover: #ffffff;
  --color-bg-back-btn: #ffab3e;
  --color-bg-back-btn-hover: #f3832d;
  --border-back-btn: 2px solid #f3832d;
  --border-back-btn-hover: 2px solid #f3832d;

  // Player
  --color-player-blue: #097fc5;
  --color-player-orange: #ea6900;
  --font-size-player: 1.875rem; // 30px

  // Icons
  --icon-player: url("../../assets/img/icons/player.svg");
  --icon-player-width: 2rem; // 32px
  --icon-player-height: 2rem; // 32px
  --icon-winner: url("../../assets/img/icons/player.svg");
  --icon-winner-wrapper-margin: 4rem; // 64px

  // Layout
  --display-text: none;
  --align-winner: center;

  // Typography
  --font-primary: "Klee One";
  --font-secondary: "Delius Unicase";
  --font-btn: "Delius Unicase";
}
