@font-face {
  font-family: "Almarai";
  src: url("../../assets/fonts/Almarai/Almarai-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("../../assets/fonts/Almarai/Almarai-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("../../assets/fonts/Almarai/Almarai-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("../../assets/fonts/Almarai/Almarai-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Red Rose";
  src: url("../../assets/fonts/Red_Rose/RedRose-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
}
